<div class="row">
  <div class="col-2">
      <select id="lotSize" class="ft form-control form-control-sm">
          <option value="lotSize">Lot Size</option>
          <option value="1">2000+</option>
          <option value="2">3000+</option>
          <option value="3">4000+</option>
          <option value="4">5000+</option>
          <option value="5">7000+</option>
          <option value="6">8000+</option>
      </select>
  </div> 
  <div class="col-2">
      <select id="propertyType" class="ft form-control form-control-sm">
          <option value="propertyType">Property Type</option>
          <option value="1">Unknown</option>
          <option value="2">Condominium</option>
          <option value="3">Multi-Family</option>
          <option value="4">Multi-Family 5 Plus</option>
          <option value="5">Single Family</option>
          <option value="6">Land</option>
          <option value="7">Mobile/Manufactured</option>
          <option value="8">Townhouse</option>
          <option value="9">Duplex</option>
          <option value="10">Triplex</option>
          <option value="11">Quadruplex</option>
          <option value="12">Timeshare</option>
          <option value="13">Miscellaneous</option>
      </select>
  </div> 
  <div class="col-2">
      <select id="listingType" class="ft form-control form-control-sm">
          <option value="listingType">Listing Type</option>
          <option value="0">Unspecified</option>
          <option value="1">For Sale By Agent</option>
          <option value="2">For Sale By Owner</option>
          <option value="3">Foreclosure</option>
          <option value="4">Short Sale</option>
          <option value="5">Probate Listing</option>
          <option value="6">Auction</option>
          <option value="7">Bankruptcy Listing</option>
          <option value="8">Third Party Approval</option>
          <option value="9">Notice Of Default</option>
          <option value="10">HUD Owned</option>
          <option value="11">Real Estate Owned</option>
          <option value="12">Off-Market</option>
      </select>
  </div> 
  <div class="col-2">
      <select id="squareFeet" class="ft form-control form-control-sm">
          <option value="squareFeet">Square Feet</option>
          <option value="1">300+</option>
          <option value="1">700+</option>
          <option value="2">1000+</option>
          <option value="3">1300+</option>
          <option value="4">1800+</option>
          <option value="5">2000+</option>
          <option value="6">3000+</option>
      </select>
  </div> 
  <div class="col-1">
      <select id="beds" class="ft form-control form-control-sm">
          <option value="beds">Beds</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8+</option>
      </select>
  </div> 
  <div class="col-1">
      <select id="baths" class="ft form-control form-control-sm">
          <option value="baths">Baths</option>
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
      </select>
  </div> 
  <div class="col-2">
      <select id="status" class="ft form-control form-control-sm">
          <option value="status">Status</option>
          <option value="1">Active</option>
          <option value="2">Backup Offer</option>
          <option value="3">Pending</option>
          <option value="4">Canceled</option>
      </select>
  </div>
</div>
